.calendar {
    position: relative;
    top: 92px;
    left: 340px;
    width: 781px;
    height: 786px;
    background: white;
    font-family: 'unit-light';
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}